/************************************** HEADER **************************************/
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

header {
  height: 125px; }
  header > div a {
    margin-top: 17px;
    display: inline-block; }
  header > div p {
    font-size: .95em;
    color: #808184;
    margin-left: 59px;
    line-height: 6px; }
  header #secondary_nav li {
    list-style: none;
    font-size: 1.0em; }
    header #secondary_nav li a {
      margin-right: 109px; }
  header #primary_nav {
    height: 32px; }
    header #primary_nav > li {
      display: inline-table;
      list-style: none;
      padding-right: 12px; }
      header #primary_nav > li.last a {
        border-right: 0; }
      header #primary_nav > li a {
        line-height: 42px;
        padding: 0 36px;
        font-weight: bold;
        font-size: 1.2em;
        border-right: 1px solid #0b53a0; }
      header #primary_nav > li > ul {
        margin-top: 0px;
        padding: 0; }
        header #primary_nav > li > ul li {
          display: none;
          width: 100%;
          border-bottom: 1px solid grey;
          background-color: #000000;
          opacity: 0.8; }
          header #primary_nav > li > ul li a {
            color: white;
            border-right: 0; }
            header #primary_nav > li > ul li a:hover {
              color: #f47e20; }
      header #primary_nav > li:last-child {
        border-bottom: 0; }
      header #primary_nav > li:hover ul {
        position: absolute; }
        header #primary_nav > li:hover ul li {
          text-align: center;
          display: block;
          float: none;
          border-right: 0; }
          header #primary_nav > li:hover ul li > a {
            padding: 0px 10px 0px 10px; }
