/************************************** HEADER **************************************/
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

header {
  height: 125px; }
  header > a {
    margin-top: 17px;
    display: inline-block; }
  header #secondary_nav li {
    list-style: none;
    font-size: 1.0em; }
    header #secondary_nav li a {
      margin-right: 109px; }
  header #primary_nav {
    height: 32px; }
    header #primary_nav > li {
      display: inline-table;
      list-style: none;
      border-right: 1px solid #0b53a0;
      padding-right: 12px; }
      header #primary_nav > li.last {
        border-right: 0; }
      header #primary_nav > li a {
        line-height: 34px;
        padding: 0 37px;
        font-weight: bold;
        font-size: 1.2em; }
      header #primary_nav > li ul {
        margin-top: 0px;
        padding: 0; }
        header #primary_nav > li ul li {
          display: none;
          height: 28px;
          width: 100%;
          line-height: 30px;
          border-bottom: 1px solid grey;
          background-color: #000000;
          opacity: 0.8; }
          header #primary_nav > li ul li a {
            color: white; }
            header #primary_nav > li ul li a:hover {
              color: #f47e20; }
      header #primary_nav > li:last-child {
        border-bottom: 0; }
      header #primary_nav > li:hover ul {
        position: absolute; }
        header #primary_nav > li:hover ul li {
          text-align: center;
          display: block;
          float: none;
          border-right: 0; }
          header #primary_nav > li:hover ul li > a {
            padding: 0px 10px 0px 10px; }
