/************************************** HEADER **************************************/
@import 'C:/WORKSPACE2/spmi/Project/1_Website/Design/Main_Layout/css/global';

#header{
  box-shadow: 0px 15px 42px -6px $shadow;
  position: relative;
  z-index: 9999;
  div{
    a{
      margin-top: 17px;
      display:inline-block;
    }
    p{
      font-size: .95em;
      color:$grey;
      margin-left: 51px;
      line-height: 6px;
    }
  }
  #secondaryNavHolder{
    padding-left: 675px;
    #secondary_nav,ul{
      a{
        margin-right:10px; 
        }
      display: inline;
      float:left;
      li{
        list-style:none;
        font-size:1.0em;
        display:table-cell;
      }
    }
    #selectLanguage{
      padding:0;
      li{
        a{
          float:right;
          color:$grey;
          }
      }
    }
  }
  div{
    #primary_nav{
      margin:0;
      & > li{
        display:inline-table;
        list-style:none;
        height:10px;
        padding-right: 12px;
        >span{
          border-right: 1px solid $darkBlue;
        }
          &.last{
              span{
                border-right:0;
              }
          }
        a{
        height: 22px;
          margin:0;
          padding: 0 32px;
          font-weight:bold;
          font-size: 1.2em;
        }
        >ul{
          z-index: 99;
          margin-top: 0px;
          padding:0;
          li{
            height:32px;
            display:none;
            width:100%;
            border-bottom: 1px solid grey;
            background-color: #000000;
            opacity:0.8;
            a{
              margin: 10px 0px 10px 0px;
              color:$white;
            }
          }
        &:last-child{
          a{
            border-bottom:0;
           }
          }
        }
        &:hover{
          ul{
            position:absolute;
            li{
              text-align:center;
              display:block;
              float:none;
              border-right:0;
              >a{
                padding: 0px 10px 0px 10px;
              }
            }
          }
        }
        }
      }
  }
  }
  // *************CHINESE CSS***************

