/************************************** HEADER **************************************/
@import 'C:/WORKSPACE2/spmi/Project/1_Website/Design/Main_Layout/css/global';

header{
  height: 125px;
  >div{
    a{
      margin-top: 17px;
      display:inline-block;
    }
    p{
      font-size: .95em;
      color:$grey;
      margin-left: 59px;
      line-height: 6px;
    }
  }
  #secondary_nav{
    li{
      list-style:none;
      font-size:1.0em;
      a{
       margin-right:109px; 
      }
    }
  }
  #primary_nav{
    height: 32px;
    & > li{
      display:inline-table;
      list-style:none;
      padding-right: 12px;
      &.last{
        a{
          border-right:0;
        }
      }
      a{
        line-height: 42px;
        padding: 0 36px;
        font-weight:bold;
        font-size: 1.2em;
        border-right: 1px solid $darkBlue;
      }
      >ul{
        margin-top: 0px;
        padding:0;
        li{
          display:none;
          width:100%;
          border-bottom: 1px solid grey;
          background-color: #000000;
          opacity:0.8;
          a{
            color:$white;
            border-right: 0;
            &:hover{
              color:$orange;
            }
          }
        }
      }
      &:last-child{
          border-bottom:0;
        }
      &:hover{
        ul{
          position:absolute;
          li{
            text-align:center;
            display:block;
            float:none;
            border-right:0;
            >a{
              padding: 0px 10px 0px 10px;
            }
          }
        }
      }
      }
    }
  }
