/************************************** MAIN **************************************/
@import 'C:/WORKSPACE2/spmi/Project/1_Website/Design/Main_Layout/css/global';

#wrapper {
  background-color:$white;
  min-height: 300px;
  margin:0 auto;
  width: 900px;
}
