/************************************** MAIN **************************************/
@import 'C:/WORKSPACE/spmi/Project/1_Website/Design/Main_Layout/css/global';

#wrapper {
  background-color:#ffffff;
  div[id*='_container']{
    min-height: 300px;
    margin:0 auto;
    width:1200px;
    border:1px solid #ccc;
  }
}




//** Start of SPRITES ***********************************************************************//
 

