/************************************** MAIN **************************************/
.sprite, .activePointer {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

#wrapper {
  background-color: white;
  min-height: 300px;
  overflow: hidden;
  margin: 0 auto;
  width: 900px; }

.backgroundSet {
  background-size: contain;
  repeat: no-repeat; }

.opaqueNav {
  height: 45px;
  width: 900px;
  padding: 12px;
  background-color: #000000;
  z-index: 10;
  top: -45px;
  opacity: 0.8; }
  .opaqueNav ul {
    padding: 0;
    margin-left: 38px; }
    .opaqueNav ul li {
      display: table-cell;
      line-height: 5px; }
      .opaqueNav ul li a {
        color: white;
        font-size: 1.8em;
        margin-right: 34px; }

.activePointer {
  position: absolute;
  top: -20px;
  z-index: 99;
  width: 20px !important;
  height: 20px !important;
  background-position: -97px 9px;
  background-image: url("/Project/1_Website/Design/Main_Layout/images/sprites/sprite.png"); }

.chinese #header #primary_nav li {
  padding-right: 23px!important; }
  .chinese #header #primary_nav li a {
    padding: 0 43px!important; }
