/************************************** MAIN **************************************/
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

#wrapper {
  background-color: white;
  min-height: 300px;
  margin: 0 auto;
  width: 900px; }
